@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*,
::before,
::after {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*Variáveis do tema*/
:root {
  --primary-color: #415aff;
  --secondary-color: hsla(232, 100%, 63%, 0.9);
  --primary-text-color: #343a40;
  --secondary-text-color: #262618;
  --bg-color: #fff;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  min-height: 100vh;
  background: #f8f8fa;
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-container {
  max-width: 1060px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}

.product-container h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.stars {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
}

.swiper-wrapper {
  margin-bottom: 2rem;
}

.product-box {
  padding: 1rem;
  background: var(--bg-color);
  border: 1px solid #ebebeb;
  border-radius: 0.5rem;
  position: relative;

  transition: 0.3s box-shadow ease-in;
}

.product-box:hover{
  box-shadow:  0 4px 16px hsla(355deg, 25%, 15%, 10%);
}

.box-img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  object-position: center;
}

.c-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.f-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
}

.f-box img {
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background-color: var(--bg-color);
  object-fit: cover;
  object-position: center;
  border: 2px solid var(--bg-color);
  box-shadow: 0 0 16px hsla(355deg, 25%, 15%, 10%);
  margin-bottom: 0.1rem;
}

.f-text h3 {
  font-size: 0.7rem;
}

.f-text p {
  font-size: 0.7rem;
  line-height: 1rem;
}

.stars {
  display: flex;
  gap:0.15rem;
}


.product-title {
  font-size: 1.2rem;
  font-weight: 600;

  margin: 0.8rem 0 0.6rem;
}

.price-book {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  color: var(--primary-color);
}

.price span {
  color: var(--secondary-color);
  font-size: 0.8rem;
}

.tag {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 0.7rem;
  color: #28a745;
  font-weight: 500;
  border-radius: 0.2rem;
  padding: 0.1rem 0.3rem;
  background: hsl(134, 61%, 41%, 0.14);
}


.book-btn{
  color: var(--bg-color);
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.1rem 0.3rem;
  border-radius: 0.2rem;

  transition: 0.2s background-color ease-in-out ;
}

.book-btn:hover{
  background-color: var(--secondary-color); 

}

.swiper-button-prev{
  position: absolute;
  z-index: 999;
  left: 0;
  margin-left: -3rem;
  color: var(--primary-color);
}

.swiper-button-next{
  position: absolute;
  z-index: 999;
  right: 0;
  margin-right: -3rem;
  color: var(--primary-color);
}